<div class="container text-center">
  <div class="row justify-content-md-center">
    <h2> List of Users </h2>
    <%= link_to "Add_User", new_user_path %>
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" > Id </th>
            <th scope="col"> Name </th>
            <th scope="col"> Image </th>
            <th colspan="2"> Action </th>        
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td> <%= user.id %> </td>
              <td> <%= user.name %> </td>
              <td> <%= image_tag user.avatar, size: "100x100" %> </td>
              <td> <%= link_to "Delete",
                        user_path(user.id),
                        data: {
                          turbo_method: :delete
                        } %> 
              </td>
              <td> <%= link_to "Show", user_path(user.id) %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>